


<form [formGroup]="productForm" (ngSubmit)="CreateProduct()">
    <div class="card">
        <div class="card-header">Product Entry </div>
        <div class="card-body">
     
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Product Name </label>
        <div class="col-10">
          <input class="form-control" type="text" formControlName="productName" placeholder="" />
          <div *ngIf="productForm.get('productName').errors && productForm.get('productName').touched" class="invalid-status">Product Name is required</div>
        </div>
      </div>

      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Category </label>
        <div class="col-10">
          <input class="form-control" type="text" formControlName="category" placeholder="" />
          <div *ngIf="productForm.get('category').errors && productForm.get('category').touched" class="invalid-status " >Category is required</div>
        </div>
      </div>

      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Unit </label>
        <div class="col-10">
          <input class="form-control" type="text"size="30" formControlName="unit" placeholder="" />
          <div *ngIf="productForm.get('unit').errors && productForm.get('unit').touched" class="invalid-status " >unit Date is required</div>
        </div>
      </div>
      <div class="card-footer">
           <button  type="submit"  [disabled]="!productForm.valid" class="btn btn-success">Submit</button>
      </div>
    </div>
</div>
     
    </form>
      

       
              <!-- </div>
  
              <div class="ui-g-12 ui-md-3">
                      <button pButton type="button" label="ADD" icon="pi pi-plus" iconPos="left" (click)="addItem()" [disabled]="productForm.get('items').invalid"></button>
                  </div>
  
                  <button pButton type="submit" label="Submit" icon="pi pi-save" iconPos="left" [disabled]="!productForm.valid||productForm.get('items').invalid"></button>
            </div>
            
          <div class="ui-g-12 ui-lg-12">
                <button pButton type="submit" label="Submit" icon="pi pi-save" iconPos="left" [disabled]="!productForm.valid||productForm.get('items').invalid"></button>
              </div> -->

  